/*============*/
/* General */
/*============*/
html {
    font-size: 16px;
    font-family: 'Bitter', serif;
    background: #f8f8ff;
    color: #5F5261;
    scroll-padding-top: var(--top-spacing);
}

body {
    padding: 0;
    margin: 45px 0 0 0;
}

h1, h2, h5 {
    font-family: 'Roboto Slab', serif;
    margin: 0 15px;
    color: #7F6D82;
}

h1 {
    font-size: 3.052em;
    margin-top: -35px;
    padding-top: 35px;
}

h2 {
    font-size: 2.441em;
    margin-top: -20px;
    padding-top: 35px;
}

h4 {
    font-size: 1.563em;
    margin: auto;
    padding: 5px;
    width: 150px;
    background: #BEAFDD;
}

h5 {
    font-size: 1.25em;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 10px;
    color: #5F5261;
}

ul {
    line-height: 1.5em;
}

p {
    line-height: 1.5em;
}

hr {
    height: 1px;
    background-color: #D8A7CA;
    border: none;
    margin: 0 5px 15px;
}

a:hover {
    color: #f8f8ff;
}

.content {
    display: flex;
}

.content2 {
    display: flex;
    flex-direction: column;
}

.side-padding {
    padding: 0 3%;
}

.no-line {
    text-decoration: none;
}

/*======================*/
/* Header & Footer */
/*======================*/
address {
    width: 300px;
    padding: 10px 0;
    margin-left: 30px;
}

.header {
    padding: 0;
    margin: 0 0 8px 0;
    text-align: center;
    background: #C7B8EA;
    border: 1px solid #BEAFDD;
    color: #5F5261;
    position: fixed;
    top: 0;
    width: 100%;
  }

.footer {
    background: #C7B8EA;
    border: 1px solid #BEAFDD;
    font-size: 0.8em;
    line-height: 1.25em;
    margin-top: 15px;
}

#bioSite {
    text-decoration: none;
    color: #5F5261;
}

#bioSite:hover {
    color: #f8f8ff;
}

/*============================*/
/* Index, Figures & Images */
/*============================*/
figure {
    border: 1px solid #D8A7CA;
    height: 100%;
    border-radius: 3%;
}

img {
    width: 100%;
    min-width: 200px;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

figcaption {
    font-size: 0.64em;
    margin: 3px 6px;
}

.landscape {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.landscape-cap {
    margin: 1px 20px;
}

.center {
    width: 60%;
    margin: auto;
}

.button {
    background-color: #C7B8EA;
    border: 2px solid #C7B8EA;
    border-radius: 20px;
    padding: 10px 20px;
    width: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #BEAFDD;
}

#profile-img {
    border: 1px solid #D8A7CA;
    border-radius: 3%;
    min-width: 220px;
    max-width: 1100px;
}

#profile-fig {
    border: none;
}

#index {
    width: 45%;
    border: 2px solid #D8A7CA;
    border-radius: 5px;
    margin: 60px auto 60px;
    padding: 25px 15px;
    background: #C7B8EA;
}

/* =============== */
/* Responsive Media Queries */
/* =============== */

@media only screen and (max-width: 768px) {
    [class*="content"] {
        flex-direction: column;
    }
    [class*="landscape"] {
        min-width: 400px;
    }
    [class*="center"] {
        width: 100%;
    }
}