html {
    font-size: 16px;
    font-family: 'Bitter', serif;
    background: #f8f8ff;
    color: #5F5261;
}

body {
    padding: 0;
    margin: 45px 0 0 0;
}

h1, h2, h5 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
    color: #7F6D82;
}

h1 {
    font-size: 3.052em;
    margin-top: 0;
}

h2 {
    font-size: 2.441em;
}

h4 {
    font-size: 1.563em;
    margin: auto;
    padding: 5px;
    width: 150px;
    background: #BEAFDD;
}

h5 {
    font-size: 1.25em;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 10px;
    color: #5F5261;
}

figcaption {
    font-size: 0.64em;
}

hr {
    height: 1px;
    background-color: #D8A7CA;
    border: none;
}

.header {
    padding: 0;
    margin: 0 0 8px 0;
    text-align: center;
    background: #C7B8EA;
    color: #5F5261;
    position: fixed;
    top: 0;
    width: 100%
  }

  #bioSite {
      text-decoration: none;
      color: #5F5261;
  }

  #bioSite:hover {
      color: #f8f8ff;
  }

.button {
    background-color: #C7B8EA;
    border: 2px solid #C7B8EA;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 35%;
    margin: auto;
}

.button:hover {
    background-color: #BEAFDD;
}

a:hover {
    color: #f8f8ff;
}

.content {
    display: flex;
}

.content2 {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    max-width: 700px;
}

#intro {
    padding: 0 3% 0 0
}

p {
    line-height: 1.5em;
}

#index {
    width: 40%;
    border: 2px solid #D8A7CA;
    border-radius: 5px;
    margin: 60px auto 60px;
    padding: 25px 15px;
    background: #C7B8EA;
}

ul {
    line-height: 1.5em
}

.padsides {
    padding: 0 3%;
}

.landscape {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.center {
    width: 60%;
    margin: auto;
}
